@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
body {
    position: fixed;
    transition: background-color .5s;
}

/**SIDE NAV CODE BY w3schools: https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.452);
}

.sidenav a {
    padding-left: 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mySidenavContainer {
    display: grid;
    grid-template-rows: 200px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 9999999;
}

/* MAKE THIS EXTERNAL!! */
/* #mySidenavContainer > #profileBackground {
    display: grid;
    grid-template-rows: auto;
    background-image: url(https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5ece92f41f4c83000768d787%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D421%26cropX2%3D1694%26cropY1%3D37%26cropY2%3D1310);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

#profile {
    display: grid;
    grid-template-rows: 70px 60px auto auto;
    backdrop-filter: blur(8px); 
    padding-left: 15px;
}

#profilePic {
    margin-top: -15px;
    width: 30%;
    height: 65px;
    border-radius: 100%;
}

#profileName {
    margin-top: -5px;
    color: white;
}

#profileEmail {
    color: white;
    margin-top: -30px;
    font-size: 12pt;
}

#mySidenavContents {
    background-color: white;
    text-overflow: ellipsis; /*CODE TO KEEP FONTS ALL IN ONE LINE: NO BREAKING*/
    white-space: pre;
    padding: 0px;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Used hiding scroll: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
#mySidenavContents::-webkit-scrollbar {
    display: none;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/******************END OF NAV BAR CODE************************/

#outerContainer {
    margin: -10px;
}

#InnerContainer {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

#headingContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 71px;
    border-bottom: 0.5px black solid;
}

#hamburgerMenu {
    column-width: 60px;
    background-color: rgb(175, 175, 175);
    padding-top: 12px;
    padding-left: 2px;
    cursor: pointer; 
}

#menu {
    margin-left: 5px;
}

#menuIcon { 
    padding-right: 30px;
    padding-top: 50px;
    margin-top: -35px;
}

#logOutIcon { 
    padding-right: 30px;
    padding-top: 50px;
    margin-top: -35px;
}

#title {
    display: block;
    padding-top: 20px;
    padding-right: 2px;
    text-align: center;
    column-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(175, 175, 175);
}

#title-font {
    font-size: 20pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#homeButtonContainer {
    background-color: rgb(175, 175, 175);
}

#actualHomeButton { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    padding-right: 2px;
}

#actualHomeButton:hover {
    cursor: pointer;
}

/* Used hiding scroll: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
#feedContainer {
    display: grid;
    border-bottom: 0.5px black solid;
    grid-template-rows: auto auto auto auto auto auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: rgb(75, 75, 75);
    row-gap: 5px;
    height: 600px; 
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Used hiding scroll: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
#feedContainer::-webkit-scrollbar {
    display: none;
}

#feed {
    display: grid;
    grid-template-rows: 30px 100px 35px; /*REVISE?*/
    border: 1px solid rgb(107, 107, 107);
}

#feed:hover {
    cursor: pointer;
}

#dateAndUserContainer {
    display: grid;
    grid-template-columns: 130px auto auto;
}

#userNamePosted {
    padding-left: 10px;

}

#pictureTitleTextContainer {
    display: grid;
    grid-template-columns: 0px 100px auto;
}

#picture > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#titleAndTextContainer {
    display: grid;
    grid-template-rows: 32px 50px;
}

#feedTitle {
    font-size: 15px; /*EDIT THIS FOR adaptive resolution*/
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: black;
    overflow: hidden;
}

#feedTitle > p {
    width: 100%;
    text-overflow: ellipsis; /*CODE TO KEEP FONTS ALL IN ONE LINE: NO BREAKING*/
    overflow: hidden; /*CODE TO KEEP FONTS ALL IN ONE LINE: NO BREAKING*/
    white-space: pre;/*CODE TO KEEP FONTS ALL IN ONE LINE: NO BREAKING*/
    margin-top: 7px;
}

#textBody {
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

#textBody::-webkit-scrollbar {
    display: none;
}

#textBody > p {
    margin-top: -2px;
}

#like-LoveContainer {
    display: grid;
    grid-template-columns: 50px 50px 50px auto;
}

#heart {
    padding-top: 3px;
    padding-left: 10px;
}

#smile {
    padding-top: 3px;
    padding-left: 10px;
}

#notSmile {
    padding-top: 5px;
    padding-left: 10px;
}

#adSpaceContainer{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    height: 35px;
    background-color:rgb(12, 250, 179);
}

#lowerNavContainer{
    height: 55px;
    padding-top: 40px;
    background-color: rgb(175, 175, 175);
}

/* Gradient code from https://www.w3schools.com/css/css3_gradients.asp */
#postButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(67, 135, 212); /* For browsers that do not support gradients */
    background-image: linear-gradient(to left, rgb(0, 143, 238) , rgb(0, 98, 190));
    margin-top: -20px;
    padding-top: 16px;
    height: 35px;
    border-radius: 20px 20px 20px 20px; 
    width: 50%;
}

#postButton:hover {
    color:white;
    cursor: pointer; 
    text-decoration: underline;
    /* NOTE: Text shadow edits from left to right: xyz directions */
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(78, 161, 255), 0 0 50px darkgoldenrod;
}

#postButton a:visited {
    color:white;
    cursor: pointer; 
    /* NOTE: Text shadow edits from left to right: xyz directions */
}


#postButtonFont {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/************DROPDOWN CSS*************/
.dropbtn {
    background-color: rgb(175, 175, 175);
    color: white;
    padding: 16px;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(175, 175, 175);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    min-width: 300px;
    margin-top: 10px;
    right: 2px;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}

  .twitter-follow-button {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .twitter-share-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  